package components

templ makePage(head templ.Component, body templ.Component) {
    <!DOCTYPE html>
    <html lang="en">
        <head>
            @head
        </head>
        <body class="antialiased bg-slate-800 text-zinc-50">
            @body
        </body>
    </html>
}